<table class ="Profile" summary = "Profile Information">
	<tr>
		<td class ="main">
			<h1> 
				<%= gravatar_for @user %> 
				<%= @user.name %>
			</h1>
			
			<% unless @user.microposts.empty? %>
			<table class="Microposts" summary="User Microposts">
				<strong><%= render @microposts %></strong>
			</tablel>
			<% end %>
			<% unless @user.blog.empty? %>
			<table class ="Blogs" summary = "Blog Information">
				<%= @blog.title %>
			</table>
						
						<% end %>
		</td>
		<td class = "sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %><br \>
			<strong>Microposts</strong> <%= @user.microposts.count %><br \>
			<strong>Blogs</strong> <%= Blog.count %>
		</td>
	</tr>
</table>
				

