<h1>Ruby Sample App Home</h1>
<p>
		This is the home page for the
		      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		      sample application.
</p>

<h1>Sign Up!</h1>

<%= simple_form_for(@user) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

<div class= "field">
	<%= f.input :name %>
</div>
<div class= "field">
	<%= f.input :email %>
</div>
<div class= "field">
    <%= f.input :password %>
</div>
<div class= "field">
	<%= f.input :password_confirmation, :required => true, :label => "Confirmation" %>
</div>
<div class= "actions">
	<%= f.button :submit, "Sign Up!" %>
</div>
<% end %>
