<% if signed_in? %>
	<table class= "front" summary= "For signed in users">
		<tr>
			<td class="main">
				<h1 class="Micropost">What's up?</h1>
				<%= render 'shared/micropost_form' %>
			</td>
			<td class = "sidebar round">
				<%= render 'shared/user_info' %>
			</td>
		</tr>
	</table>
<% else %>
<h1>Ruby Sample App Home</h1>
<p>
		This is the home page for the
		      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		      sample application.
</p>
<div class="Major_field">

<h1>Sign Up! |</h1><p id ="free">It's free!</p>

<%= simple_form_for(@user) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>


	<%= f.input :name, :placeholder => "Name", :label => false %>

	<%= f.input :email, :placeholder => "Email", :label => false %>

    <%= f.input :password, :placeholder => "Password", :label => false %>

	<%= f.input :password_confirmation, :required => true, :placeholder => "Confirmation", :label => false %>

	<%= f.button :submit, "Sign Up!" %>

<% end %>
</div>
<% end %>